<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rz.smartDataReport.mapper.MonitoringPlantformArticleMapper">
    <select id="getByPlantformId" parameterType="int"
            resultType="com.rz.smartDataReport.pojo.vo.MonitoringPlantformArticleVo">
SELECT mpa.id,mpa.plantform_id,mpa.url,mpa.title,mpc.name AS plantform_name,pc.name as category_name
 FROM monitoring_plantform_article mpa
 LEFT JOIN monitoring_plantform_config mpc
 ON mpa.plantform_id = mpc.id
   LEFT JOIN project_category pc
    ON mpc.category_id = pc.id
 WHERE mpa.plantform_id=#{id}
    </select>
    <select id="getByCategoryId" parameterType="int"
            resultType="com.rz.smartDataReport.pojo.vo.MonitoringPlantformArticleVo">
SELECT mpa.id,mpa.plantform_id,mpa.url,mpa.title,mpc.name AS plantform_name,pc.name as category_name
 FROM monitoring_plantform_article mpa
 LEFT JOIN monitoring_plantform_config mpc
 ON mpa.plantform_id = mpc.id
   LEFT JOIN project_category pc
    ON mpc.category_id = pc.id
 WHERE mpc.category_id=#{id}
    </select>
</mapper>
